@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

@layer utilities {
    .animation-delay-2000 {
        animation-delay: 2s;
    }

    .animation-delay-4000 {
        animation-delay: 4s;
    }
}

@keyframes blob {
    0% {
        transform: translate(0px, 0px) scale(1);
    }

    33% {
        transform: translate(30px, -50px) scale(1.1);
    }

    66% {
        transform: translate(-20px, 20px) scale(0.9);
    }

    100% {
        transform: translate(0px, 0px) scale(1);
    }
}

.animate-blob {
    animation: blob 7s infinite;
}

@keyframes text-shimmer {
    0% {
        background-position: 0% center;
    }

    100% {
        background-position: 100% center;
    }
}

.glass-text-effect {
    background: linear-gradient(300deg,
            #18181b 45%,
            rgba(255, 255, 255, 0.3) 50%,
            #18181b 55%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 300% auto;
    background-repeat: no-repeat;
    animation: text-shimmer 3s linear forwards;
}